<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/infirmary</property>
    <property name="hibernate.connection.username">chief_medical_officer</property>
    <property name="hibernate.connection.password">chmo</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <mapping resource="ru/fedul0x/ip/dataaccess/ServicePrice.hbm.xml"/>
    <mapping resource="ru/fedul0x/ip/dataaccess/StaffPosition.hbm.xml"/>
    <mapping resource="ru/fedul0x/ip/dataaccess/SupplementalHealthInsurance.hbm.xml"/>
    <mapping resource="ru/fedul0x/ip/dataaccess/Service.hbm.xml"/>
    <mapping resource="ru/fedul0x/ip/dataaccess/Schedule.hbm.xml"/>
    <mapping resource="ru/fedul0x/ip/dataaccess/Staff.hbm.xml"/>
    <mapping resource="ru/fedul0x/ip/dataaccess/Payer.hbm.xml"/>
    <mapping resource="ru/fedul0x/ip/dataaccess/Agent.hbm.xml"/>
    <mapping resource="ru/fedul0x/ip/dataaccess/Patient.hbm.xml"/>
    <mapping resource="ru/fedul0x/ip/dataaccess/SystemUser.hbm.xml"/>
    <mapping resource="ru/fedul0x/ip/dataaccess/MedicalConsultation.hbm.xml"/>
    <mapping resource="ru/fedul0x/ip/dataaccess/PaymentMethod.hbm.xml"/>
    <mapping resource="ru/fedul0x/ip/dataaccess/InsuranceCompany.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
