<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
<!--    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/infirmary</property>-->
    <property name="hibernate.connection.url">jdbc:postgresql://db.fedul0x:5432/infirmary</property>
    <property name="hibernate.connection.username">chief_medical_officer</property>
    <property name="hibernate.connection.password">chmo</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <mapping resource="ru/fedul0x/ip/dataaccess/dataobject/ServicePrice.hbm.xml"/>
    <mapping resource="ru/fedul0x/ip/dataaccess/dataobject/StaffPosition.hbm.xml"/>
    <mapping resource="ru/fedul0x/ip/dataaccess/dataobject/SupplementalHealthInsurance.hbm.xml"/>
    <mapping resource="ru/fedul0x/ip/dataaccess/dataobject/Service.hbm.xml"/>
    <mapping resource="ru/fedul0x/ip/dataaccess/dataobject/Schedule.hbm.xml"/>
    <mapping resource="ru/fedul0x/ip/dataaccess/dataobject/Staff.hbm.xml"/>
    <mapping resource="ru/fedul0x/ip/dataaccess/dataobject/Payer.hbm.xml"/>
    <mapping resource="ru/fedul0x/ip/dataaccess/dataobject/Agent.hbm.xml"/>
    <mapping resource="ru/fedul0x/ip/dataaccess/dataobject/Patient.hbm.xml"/>
    <mapping resource="ru/fedul0x/ip/dataaccess/dataobject/SystemUser.hbm.xml"/>
    <mapping resource="ru/fedul0x/ip/dataaccess/dataobject/MedicalConsultation.hbm.xml"/>
    <mapping resource="ru/fedul0x/ip/dataaccess/dataobject/PaymentMethod.hbm.xml"/>
    <mapping resource="ru/fedul0x/ip/dataaccess/dataobject/InsuranceCompany.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
